USE [master]
GO
/****** Object:  Database [Typography]    Script Date: 09.04.2025 21:31:06 ******/
CREATE DATABASE [Typography]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Typography', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Typography.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Typography_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Typography_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Typography].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Typography]
GO
/****** Object:  UserDefinedFunction [dbo].[GetEmploye]    Script Date: 09.04.2025 21:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetEmploye] 
()
RETURNS @res TABLE (ФИО VARCHAR(50), Должность VARCHAR(50), Телефон VARCHAR(50))
AS
BEGIN 
	INSERT INTO @res
    SELECT ФИО, Должность, НомерТелефона
    FROM Сотрудник
	WHERE Должность <> 'Управляющий' AND Должность <> 'Менеджер' AND СтатусРаботы <> 'Уволен';
	RETURN;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[GetMaterial]    Script Date: 09.04.2025 21:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE FUNCTION [dbo].[GetMaterial] 
()
RETURNS @res TABLE (Материалы VARCHAR(50), Остаток VARCHAR(50))
AS
BEGIN 
	INSERT INTO @res
    SELECT Название, Количество
    FROM ПечатныеМатериалы
	WHERE Количество > 0;
	RETURN;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[GetUsluga]    Script Date: 09.04.2025 21:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE FUNCTION [dbo].[GetUsluga] 
()
RETURNS @res TABLE (Услуги VARCHAR(50))
AS
BEGIN 
	INSERT INTO @res
    SELECT Наименование
    FROM Услуга;
	RETURN;
END;
GO
/****** Object:  Table [dbo].[ЗаказНаПечать]    Script Date: 09.04.2025 21:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ЗаказНаПечать](
	[КодЗаказа] [int] NOT NULL,
	[ДатаЗаказа] [date] NOT NULL,
	[КодСотрудника] [int] NULL,
	[КодКлиента] [int] NULL,
	[Стоимость] [float] NOT NULL,
	[СтатусВыполнения] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[КодЗаказа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Клиент]    Script Date: 09.04.2025 21:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Клиент](
	[КодКлиента] [int] NOT NULL,
	[ФИО] [nvarchar](100) NOT NULL,
	[НомерТелефона] [nvarchar](20) NOT NULL,
	[ДатаРождения] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[КодКлиента] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[МатериалВЗаказе]    Script Date: 09.04.2025 21:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[МатериалВЗаказе](
	[КодЗаказа] [int] NOT NULL,
	[КодМатериала] [int] NOT NULL,
	[Количество] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[КодЗаказа] ASC,
	[КодМатериала] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ПечатныеМатериалы]    Script Date: 09.04.2025 21:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ПечатныеМатериалы](
	[КодМатериала] [int] NOT NULL,
	[Название] [nvarchar](100) NOT NULL,
	[Количество] [int] NOT NULL,
	[Цена] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[КодМатериала] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сотрудник]    Script Date: 09.04.2025 21:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сотрудник](
	[КодСотрудника] [int] NOT NULL,
	[ФИО] [nvarchar](100) NOT NULL,
	[НомерТелефона] [nvarchar](20) NOT NULL,
	[Должность] [nvarchar](50) NOT NULL,
	[ДатаРождения] [date] NOT NULL,
	[Пароль] [nvarchar](50) NULL,
	[СтатусРаботы] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK__Сотрудни__854389BBFF383F91] PRIMARY KEY CLUSTERED 
(
	[КодСотрудника] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Услуга]    Script Date: 09.04.2025 21:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Услуга](
	[КодУслуги] [int] NOT NULL,
	[Наименование] [nvarchar](100) NOT NULL,
	[Описание] [nvarchar](max) NULL,
	[Цена] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[КодУслуги] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[УслугаЗаказа]    Script Date: 09.04.2025 21:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[УслугаЗаказа](
	[КодЗаказа] [int] NOT NULL,
	[КодУслуги] [int] NOT NULL,
	[КоличествоУслуг] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[КодЗаказа] ASC,
	[КодУслуги] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ЗаказНаПечать] ([КодЗаказа], [ДатаЗаказа], [КодСотрудника], [КодКлиента], [Стоимость], [СтатусВыполнения]) VALUES (1, CAST(N'2024-02-15' AS Date), 3, 10, 2340, N'Выполнен')
INSERT [dbo].[ЗаказНаПечать] ([КодЗаказа], [ДатаЗаказа], [КодСотрудника], [КодКлиента], [Стоимость], [СтатусВыполнения]) VALUES (2, CAST(N'2024-02-12' AS Date), 4, 20, 4980, N'Выполнен')
INSERT [dbo].[ЗаказНаПечать] ([КодЗаказа], [ДатаЗаказа], [КодСотрудника], [КодКлиента], [Стоимость], [СтатусВыполнения]) VALUES (3, CAST(N'2024-03-10' AS Date), 5, 30, 11150, N'Ожидание подтверждения')
GO
INSERT [dbo].[Клиент] ([КодКлиента], [ФИО], [НомерТелефона], [ДатаРождения]) VALUES (1, N'Яковлев Алексей Андреевич', N'89006543212', CAST(N'1983-03-10' AS Date))
INSERT [dbo].[Клиент] ([КодКлиента], [ФИО], [НомерТелефона], [ДатаРождения]) VALUES (2, N'Маслова Ольга Николаевна', N'89007654322', CAST(N'1999-07-15' AS Date))
INSERT [dbo].[Клиент] ([КодКлиента], [ФИО], [НомерТелефона], [ДатаРождения]) VALUES (3, N'Смирнов Алексей Павлович', N'89001334510', CAST(N'1997-06-15' AS Date))
GO
INSERT [dbo].[МатериалВЗаказе] ([КодЗаказа], [КодМатериала], [Количество]) VALUES (1, 1, 5)
INSERT [dbo].[МатериалВЗаказе] ([КодЗаказа], [КодМатериала], [Количество]) VALUES (1, 2, 10)
INSERT [dbo].[МатериалВЗаказе] ([КодЗаказа], [КодМатериала], [Количество]) VALUES (1, 3, 100)
GO
INSERT [dbo].[ПечатныеМатериалы] ([КодМатериала], [Название], [Количество], [Цена]) VALUES (1, N'Брошюра', 48, 50)
INSERT [dbo].[ПечатныеМатериалы] ([КодМатериала], [Название], [Количество], [Цена]) VALUES (2, N'Флаер', 180, 14)
INSERT [dbo].[ПечатныеМатериалы] ([КодМатериала], [Название], [Количество], [Цена]) VALUES (3, N'Визитка', 100, 5)
GO
INSERT [dbo].[Сотрудник] ([КодСотрудника], [ФИО], [НомерТелефона], [Должность], [ДатаРождения], [Пароль], [СтатусРаботы]) VALUES (1, N'Кузнецова Мария Николаевна', N'89004567890', N'Управляющий', CAST(N'1979-07-13' AS Date), N'Password1', N'Работает')
INSERT [dbo].[Сотрудник] ([КодСотрудника], [ФИО], [НомерТелефона], [Должность], [ДатаРождения], [Пароль], [СтатусРаботы]) VALUES (2, N'Смирнова Елена Игоревна', N'89008901234', N'Управляющий', CAST(N'1984-04-16' AS Date), N'Password2', N'Работает')
INSERT [dbo].[Сотрудник] ([КодСотрудника], [ФИО], [НомерТелефона], [Должность], [ДатаРождения], [Пароль], [СтатусРаботы]) VALUES (3, N'Иванов Иван Петрович', N'89001234567', N'Технолог', CAST(N'1985-02-10' AS Date), N'Password3', N'Работает')
GO
INSERT [dbo].[Услуга] ([КодУслуги], [Наименование], [Описание], [Цена]) VALUES (1, N'Печать визиток', N'Печать стандартных визиток, возможна двусторонняя печать', 150)
INSERT [dbo].[Услуга] ([КодУслуги], [Наименование], [Описание], [Цена]) VALUES (2, N'Печать плакатов', N'Печать больших плакатов формата A2, A1, A0', 500)
INSERT [dbo].[Услуга] ([КодУслуги], [Наименование], [Описание], [Цена]) VALUES (3, N'Дизайн брошюры', N'Создание уникального дизайна брошюр', 500)
GO
INSERT [dbo].[УслугаЗаказа] ([КодЗаказа], [КодУслуги], [КоличествоУслуг]) VALUES (1, 3, 2)
INSERT [dbo].[УслугаЗаказа] ([КодЗаказа], [КодУслуги], [КоличествоУслуг]) VALUES (1, 5, 1)
INSERT [dbo].[УслугаЗаказа] ([КодЗаказа], [КодУслуги], [КоличествоУслуг]) VALUES (2, 1, 2)
GO
/****** Object:  Index [UQ_МатериалВЗаказе]    Script Date: 09.04.2025 21:31:06 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_МатериалВЗаказе] ON [dbo].[МатериалВЗаказе]
(
	[КодЗаказа] ASC,
	[КодМатериала] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Печатные__38DA80356A2F5220]    Script Date: 09.04.2025 21:31:06 ******/
ALTER TABLE [dbo].[ПечатныеМатериалы] ADD UNIQUE NONCLUSTERED 
(
	[Название] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Сотрудни__FB896D39188D532D]    Script Date: 09.04.2025 21:31:06 ******/
ALTER TABLE [dbo].[Сотрудник] ADD  CONSTRAINT [UQ__Сотрудни__FB896D39188D532D] UNIQUE NONCLUSTERED 
(
	[НомерТелефона] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Услуга__FB1BBA889FC32653]    Script Date: 09.04.2025 21:31:06 ******/
ALTER TABLE [dbo].[Услуга] ADD UNIQUE NONCLUSTERED 
(
	[Наименование] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_УслугаЗаказа]    Script Date: 09.04.2025 21:31:06 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_УслугаЗаказа] ON [dbo].[УслугаЗаказа]
(
	[КодЗаказа] ASC,
	[КодУслуги] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Сотрудник] ADD  DEFAULT (N'Работает') FOR [СтатусРаботы]
GO
ALTER TABLE [dbo].[ЗаказНаПечать]  WITH NOCHECK ADD FOREIGN KEY([КодКлиента])
REFERENCES [dbo].[Клиент] ([КодКлиента])
GO
ALTER TABLE [dbo].[ЗаказНаПечать]  WITH NOCHECK ADD  CONSTRAINT [FK__ЗаказНаПе__КодСо__4AB81AF0] FOREIGN KEY([КодСотрудника])
REFERENCES [dbo].[Сотрудник] ([КодСотрудника])
GO
ALTER TABLE [dbo].[ЗаказНаПечать] NOCHECK CONSTRAINT [FK__ЗаказНаПе__КодСо__4AB81AF0]
GO
ALTER TABLE [dbo].[МатериалВЗаказе]  WITH NOCHECK ADD FOREIGN KEY([КодЗаказа])
REFERENCES [dbo].[ЗаказНаПечать] ([КодЗаказа])
GO
ALTER TABLE [dbo].[МатериалВЗаказе]  WITH NOCHECK ADD FOREIGN KEY([КодМатериала])
REFERENCES [dbo].[ПечатныеМатериалы] ([КодМатериала])
GO
ALTER TABLE [dbo].[УслугаЗаказа]  WITH NOCHECK ADD FOREIGN KEY([КодЗаказа])
REFERENCES [dbo].[ЗаказНаПечать] ([КодЗаказа])
GO
ALTER TABLE [dbo].[УслугаЗаказа]  WITH NOCHECK ADD FOREIGN KEY([КодУслуги])
REFERENCES [dbo].[Услуга] ([КодУслуги])
GO
ALTER TABLE [dbo].[ЗаказНаПечать]  WITH NOCHECK ADD CHECK  (([ДатаЗаказа]<=getdate()))
GO
ALTER TABLE [dbo].[ЗаказНаПечать]  WITH NOCHECK ADD CHECK  (([СтатусВыполнения]='Отменен' OR [СтатусВыполнения]='Выполнен' OR [СтатусВыполнения]='Принят в работу' OR [СтатусВыполнения]='Ожидание подтверждения'))
GO
ALTER TABLE [dbo].[ЗаказНаПечать]  WITH NOCHECK ADD CHECK  (([Стоимость]>=(0)))
GO
ALTER TABLE [dbo].[Клиент]  WITH CHECK ADD CHECK  ((datediff(year,[ДатаРождения],getdate())>=(18)))
GO
ALTER TABLE [dbo].[МатериалВЗаказе]  WITH NOCHECK ADD CHECK  (([Количество]>=(0)))
GO
ALTER TABLE [dbo].[ПечатныеМатериалы]  WITH CHECK ADD CHECK  (([Количество]>=(0)))
GO
ALTER TABLE [dbo].[ПечатныеМатериалы]  WITH CHECK ADD CHECK  (([Цена]>(0)))
GO
ALTER TABLE [dbo].[Сотрудник]  WITH CHECK ADD  CONSTRAINT [CK__Сотрудник__ДатаР__398D8EEE] CHECK  ((datediff(year,[ДатаРождения],getdate())>=(18)))
GO
ALTER TABLE [dbo].[Сотрудник] CHECK CONSTRAINT [CK__Сотрудник__ДатаР__398D8EEE]
GO
ALTER TABLE [dbo].[Сотрудник]  WITH CHECK ADD  CONSTRAINT [CK__Сотрудник__Должн__38996AB5] CHECK  (([Должность]='Технолог' OR [Должность]='Макетчик' OR [Должность]='Управляющий' OR [Должность]='Дизайнер' OR [Должность]='Менеджер'))
GO
ALTER TABLE [dbo].[Сотрудник] CHECK CONSTRAINT [CK__Сотрудник__Должн__38996AB5]
GO
ALTER TABLE [dbo].[Сотрудник]  WITH CHECK ADD  CONSTRAINT [CK_Сотрудник_СтатусРаботы] CHECK  (([СтатусРаботы]=N'Работает' OR [СтатусРаботы]=N'Уволен'))
GO
ALTER TABLE [dbo].[Сотрудник] CHECK CONSTRAINT [CK_Сотрудник_СтатусРаботы]
GO
ALTER TABLE [dbo].[Услуга]  WITH CHECK ADD CHECK  (([Цена]>(0)))
GO
ALTER TABLE [dbo].[УслугаЗаказа]  WITH NOCHECK ADD CHECK  (([КоличествоУслуг]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[GetRole]    Script Date: 09.04.2025 21:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE PROCEDURE [dbo].[GetRole]
	@FIO NVARCHAR(100),
    @Password NVARCHAR(50),
	@Res NVARCHAR(10) OUTPUT,
	@EmployeeId INT OUTPUT
AS
BEGIN
    IF EXISTS (
        SELECT 1 
        FROM Сотрудник
        WHERE ФИО = @FIO AND Пароль = @Password
    )
    BEGIN
        IF (SELECT Должность 
            FROM Сотрудник 
            WHERE ФИО = @FIO AND Пароль = @Password) = 'Управляющий'
        BEGIN
            SET @Res = '1'; 
        END

		ELSE IF (SELECT Должность 
            FROM Сотрудник 
            WHERE ФИО = @FIO AND Пароль = @Password) = 'Менеджер'
        BEGIN
            SET @Res = '2'; 
        END

		ELSE IF (SELECT СтатусРаботы 
            FROM Сотрудник 
            WHERE ФИО = @FIO AND Пароль = @Password) = 'Уволен'
        BEGIN
            SET @Res = '4'; 
        END

        ELSE
        BEGIN
			SELECT @EmployeeId = КодСотрудника 
            FROM Сотрудник 
            WHERE ФИО = @FIO AND Пароль = @Password
            SET @Res = '3'; 
        END
    END
    ELSE
    BEGIN
        SET @Res = '0';
    END

END;
GO
/****** Object:  Trigger [dbo].[ProhibitionOfModification]    Script Date: 09.04.2025 21:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[ProhibitionOfModification]
ON [dbo].[ЗаказНаПечать]
AFTER UPDATE
AS
BEGIN
    IF EXISTS (
        SELECT 1 
        FROM inserted i
        JOIN deleted d ON i.КодЗаказа = d.КодЗаказа
        WHERE i.ДатаЗаказа <> d.ДатаЗаказа
           OR i.КодСотрудника <> d.КодСотрудника
           OR i.КодКлиента <> d.КодКлиента
    )
    BEGIN
        RAISERROR ('Изменение ДатыЗаказа, КодСотрудника и КодКлиента запрещено.', 16, 1);
        ROLLBACK TRANSACTION;
    END
END;
GO
ALTER TABLE [dbo].[ЗаказНаПечать] ENABLE TRIGGER [ProhibitionOfModification]
GO
/****** Object:  Trigger [dbo].[UpdateMaterial]    Script Date: 09.04.2025 21:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[UpdateMaterial]
ON [dbo].[МатериалВЗаказе]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1
        FROM inserted i
        JOIN dbo.ПечатныеМатериалы pm
        ON i.КодМатериала = pm.КодМатериала
        WHERE pm.Количество - ISNULL(i.Количество, 0) < 0
    )
    BEGIN
        RAISERROR ('Недостаточно материала на складе.', 16, 1);
        ROLLBACK TRANSACTION;
        RETURN;
    END;

    UPDATE pm
    SET pm.Количество = pm.Количество - ISNULL(i.Количество, 0)
    FROM dbo.ПечатныеМатериалы pm
    JOIN inserted i
    ON pm.КодМатериала = i.КодМатериала;
END;
GO
ALTER TABLE [dbo].[МатериалВЗаказе] ENABLE TRIGGER [UpdateMaterial]
GO
/****** Object:  Trigger [dbo].[UpdatePriceForMaterial]    Script Date: 09.04.2025 21:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[UpdatePriceForMaterial] 
ON [dbo].[МатериалВЗаказе] 
AFTER INSERT, UPDATE, DELETE 
AS 
BEGIN 
    UPDATE ЗаказНаПечать
    SET Стоимость = ISNULL((
        SELECT 
            ISNULL(SUM(Услуга.Цена * УслугаЗаказа.КоличествоУслуг), 0) + 
            ISNULL(SUM(ПечатныеМатериалы.Цена * МатериалВЗаказе.Количество), 0)
        FROM УслугаЗаказа
        JOIN Услуга 
            ON Услуга.КодУслуги = УслугаЗаказа.КодУслуги
        JOIN МатериалВЗаказе 
            ON МатериалВЗаказе.КодЗаказа = УслугаЗаказа.КодЗаказа
        JOIN ПечатныеМатериалы 
            ON МатериалВЗаказе.КодМатериала = ПечатныеМатериалы.КодМатериала
        WHERE МатериалВЗаказе.КодЗаказа = ЗаказНаПечать.КодЗаказа
    ), 0)
    WHERE КодЗаказа IN (
        SELECT КодЗаказа FROM inserted
        UNION 
        SELECT КодЗаказа FROM deleted
    );
END;
GO
ALTER TABLE [dbo].[МатериалВЗаказе] ENABLE TRIGGER [UpdatePriceForMaterial]
GO
/****** Object:  Trigger [dbo].[UpdateTheOrderPrice]    Script Date: 09.04.2025 21:31:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[UpdateTheOrderPrice] 
ON [dbo].[УслугаЗаказа] 
AFTER INSERT, UPDATE, DELETE 
AS 
BEGIN 
    UPDATE ЗаказНаПечать
    SET Стоимость = ISNULL((
        SELECT SUM(U.Цена * ZU.КоличествоУслуг)
        FROM УслугаЗаказа ZU
        JOIN Услуга U 
            ON ZU.КодУслуги = U.КодУслуги
        WHERE ZU.КодЗаказа = ЗаказНаПечать.КодЗаказа
    ), 0) + ISNULL((
        SELECT SUM(PM.Цена * MZ.Количество)
        FROM МатериалВЗаказе MZ
        JOIN ПечатныеМатериалы PM
            ON MZ.КодМатериала = PM.КодМатериала
        WHERE MZ.КодЗаказа = ЗаказНаПечать.КодЗаказа
    ), 0)
    WHERE КодЗаказа IN (
        SELECT КодЗаказа FROM inserted
        UNION 
        SELECT КодЗаказа FROM deleted
    );
END;


GO
ALTER TABLE [dbo].[УслугаЗаказа] ENABLE TRIGGER [UpdateTheOrderPrice]
GO
USE [master]
GO
